* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: whitesmoke;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;

    main{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        #display{
            font-size: 3rem;
            border: 1px solid whitesmoke;
            padding: .5rem 2rem;
            border-radius: 2rem;
        }
        #button{
            display: flex;
            gap: 2rem;
            button{
                font-size: 3rem;
                padding: .5rem .5rem;
                border-radius: 1rem;
            }

            #startBtn:hover{
                background-color: greenyellow;
                cursor: pointer;
            }

            #stopBtn:hover{
                background-color: rgb(241, 117, 117);
                cursor: pointer;
            }
        }
    }
}